<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Healthy Living Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='scripts/animate.min.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-icon.png') }}">

  <!-- Web app configuration -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="hlc">
  <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash.png') }}">

</head>
<body ontouchstart="">
  <!-- <h1 class="center">hlc</h1> -->
  <img src="{{ url_for('static', filename='img/hlc_logo1.svg') }}" alt="Healthy Living Challenge" class="hlc-logo mx-auto">
  <p class="opener center">
    Welcome to the healthy living challenge!
  </p>
  <div class="survey-link-container">
    <a href="https://docs.google.com/forms/d/1i2twRKP0eM3SHpn2IIv5JiRjAbUTnKOaLPOKqVMlJpA/viewform" class="survey-link">Take the Survey!</a>
    <a href="" class="survey-link reload-btn"><img src="{{ url_for('static', filename='img/refresh.svg') }}" alt="Reload"></a>
  </div>
  {% if scores %}
  {% for score in scores %}
  {% if score[1].ranking == 1 %}
  <div class="special score flex p1 rounded animated bounceInDown">
  {% else %}
  <div class="score flex p1 rounded animated flipInX">
  {% endif %}
    <div class="place col-2 p1 flex items-center justify-center">
      <div class="place-container">
        <div>
          <div class="center mx-auto">{{ score[1].ranking }}<span>{{ score[1].ordinal }}</span></div>
        </div>
      </div>
    </div>
    <div class="points col-2 p1 flex items-center justify-center">
      <div>
        <div class="points-total flex h2 justify-center">{{ score[1].total_score}}</div>
        <div class="points-word center">POINTS</div>
      </div>
    </div>
    <div class="details flex items-center flex-auto">
      <div class="details-container">
        <div class="name">{{ score[0] }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="noticeboard center p1 rounded">
    <p class="h3 bold">The contest will begin on June 1st and end on June 30th at midnight!</p>
    <p>However, technically the contest starts on the night of May 31st since one of the questions is about when you went to bed.</p>
    <p class="h3 italic">Please Note:</p>
    <p>This page will begin to display the scores once the first day's results have been logged.</p>
    <p>There are 30 days in the month of June. Only the <strong>top 20 scores</strong> that you log in the month will count towards your score. Think of this as a class curve.</p>
    <p>Make sure to take your survey every day <strong>BEFORE MIDNIGHT</strong>!</p>
    <p>Good luck, and let me know if you have any issues!</p>
    <p>~Spencer</p>
  </div>
  {% endif %}
  <div class="footer center">&copy; Copyright {{ year }} <a href="http://spencerbywater.com">Spencer Bywater</a></div>

<script src="{{ url_for('static', filename='scripts/countUp.min.js') }}"></script>
  <script>
    var selector = ".points-total";
    var special_scores = document.querySelectorAll(selector);
    for (var i = 0, len = special_scores.length; i < len; i++) {
      var new_id = special_scores[i].id = "cu" + i;
      var count_to = Number(special_scores[i].innerText);
      var cu = new CountUp(new_id, 0, count_to, 0, 4, {separator: ''});
      cu.start();
    }
  </script>
</body>
</html>
