// Colors
$blue: #00a1d2;
$light-blue: lighten($blue, 10%);
$dark: #070e2b;
$pink: #fc2792;
$orange: #ff8929;
$light-orange: lighten($orange, 15%);
$lime: #bcff50;
$white: #fcfcfc;

$row-dark: lighten(desaturate($dark, 32%), 9%);
$special-row-dark: lighten($row-dark, 10%);

// Fonts
$font-fam: 'Asap', 'Helvetica', sans-serif;
